window{
    background-color:cornflowerblue;
    background-image: url('images/burger_icon.png');
}

#btn_red{
    background-color: crimson;
}

/* #cburg_img{
    height: 100px;
    width: auto;
} */

#cburg_btn{
    background-image: url('images/burgers/cheeseburger.jpg');
    background-position: 0px 0px;
    color: white;
}

/* #darea{
    width: 100px;
    height: 100px;
    background: red;
} */